<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<context:component-scan base-package="com.digital.web" />

	<bean id="applicationContextProvider" class="com.digital.web.core.ApplicationContextProvider" />

	<!-- <bean id="dataSource" class="com.digital.web.datasource.SqlDataSource">
		<property name="host" value="shadalwali.co"></property>
		<property name="port" value="3306"></property>
		<property name="databaseProvider" value="mysql"></property>
	</bean> -->

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://shadalwali.co:3306/admin_db" />
		<property name="username" value="dg_user" />
		<property name="password" value="dg_user" />
	</bean>

	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource"/>
	</bean>
</beans>